.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}
.inputField {
  display: flex;
  flex-direction: column;
}
.inputButton {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}
.numberList {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 80%;
  border-radius: 15px;
}

.numberInList {
  width: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}
